header > nav ul
{
	list-style:none;
	background-color: #3f3f3f	;
	margin: 0;
	text-align: center;

}
header > nav ul li > a
{
	 text-decoration: none;
	 color:#fff;
	 font-size: 18pt;

}
header > nav ul li
{
	display:inline-block;
	margin-left: 20px;
	padding:20px;	
}
footer 
{
	background-color: #3f3f3f;
	padding: 10px;
	text-align: center;
	position: fixed;
	color: #ffffff;
	bottom: 0;
	width: 100%;
}
main
{
	margin-top: 1%;
}
.myphoto
{
	text-align: center;
	color: #4285F4;

}
.myphoto img
{
	width: 20%;
	border: 3px solid #000000;
	border-radius: 50%;
}
.contact-form,.social-media
{

	position: relative;
	float: left;
	width: 45%;
	border:1px solid black;
	padding: 10px;
	border-radius: 5px;
	margin-left: 2%


}
.social-media>a
{
	diplay: inline;
	text-decoration: none;
	color: black;
	margin-top: 10px;
	margin-bottom: 5px;
	
}
	
.contact-form h3,.social-media h3,.gallery h1{ 
	text-align: center;
}

.social-media i{
	margin-right: 5px;
}

.contact-form input[type="submit"]{
	width:80px;
	display: block;
	margin: 0 auto;
	background-color: #0a84ff;
	color: #ffffff;
	border-radius: 2px;
	border: 0;
}

.contact-form input[type="submit"]:hover{
	opacity: 0.8;
	color: #fafafa
	background-color:black;
}

.gallery figure img{
	width: 200px;
	height:200px;
	border:1px solid black;
	
	
}

.gallery figure{
	display: inline-block;
	position: relative;
	/*float: left;*/

	margin:  10px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	font-style: italic;
	color: #C1042C;
	text-decoration: underline;

}